.container {
  background: #111111;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 15px;
  padding-top: 15px;
  width: 130px;
}

.item {
  color: #FFFFFF;
  padding: 2px 0;
}

.selectedItem {
  color: red;
  padding: 2px 0;
}
